 body {
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: grid;

}
 nav ul {
    display: flex;
    list-style: none;
    background: maroon;
}

 nav a {
    float: left;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: block;
    padding: 20px;
    text-decoration: none;
    width: 100px;
  }

 nav a:hover {
    text-decoration: underline;
  }

 footer {
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: maroon;
    color: white;
    text-align: center;
 }

 .class{
    display: inline-block;
    border: 2px solid white;
    padding: 20px;
 }

 .hobbies {
    display: inline-block;
    border: 2px solid white;
    padding: 20px;
 }

 .index {
    display: inline-block;
    border: 2px solid white;
    padding: 20px;
 }